<table class='values' cellspacing='0px' cellpadding='0px'>
	<tr>
    <td width='99%'>
			<%=text_field_tag("wf_v#{index}_0", container.sanitized_value, :style => 'width:99%', :onChange => 'wfFilter.fieldChanged(this)')%>	
    </td>
		<td width='1%'>
			<%=link_to_function(image_tag("will_filter/calendar.png", :title => "Select date", :class => "wf_calendar_trigger"), "wfCalendar.selectDate('wf_v#{index}_0', this)")%>	
    </td>
	</tr>
</table>
