<table class='values' cellspacing='0px' cellpadding='0px'>
	<tr>
    <td width='99%'>
			<%=text_field_tag("wf_v#{index}_0", container.sanitized_value, :style => 'width:98%', :onChange => 'wfFilter.fieldChanged(this)')%>	
    </td>
	</tr>
</table>
