.model_filter {
  border: 1px solid #ccc;
}

.mf_filter_conditions {
  font-size: 12px;
  font-family: Arial;
}

.mf_filter_conditions input {
  border: 1px solid #ccc;
  font-size: 12px;
  font-family: Arial;
}

.mf_filter_conditions select {
  border: 1px solid #ccc;
  font-size: 12px;
  font-family: Arial;
}

.mf_header {
  background-color:#f5f5f5; 
  width:100%; 
  padding:1px; 
  margin:0px; 
  border-bottom:solid 1px #ccc;  
}

.mf_header_presets {
  text-align: left;
  vertical-align: middle;
}

.mf_header_actions {
  text-align: right;
  vertical-align: middle;
}

.mf_footer {
  font-size: 12px;
  font-family: Arial;
}

.mf_footer input {
  font-size: 12px;
  font-family: Arial;
  border: 1px solid #ccc;
}

.mf_footer select {
  font-size: 12px;
  font-family: Arial;
  border: 1px solid #ccc;
}

.mf_action {
  border: 0px;
  vertical-align:middle; 
}

.mf_match_header {
  margin:5px; 
}

.mf_footer {
  margin-top:3px;
  width:100%;
  border-top: 1px solid #ccc;
}

.mf_footer td {
  padding:5px;
}

.mf_condition {
  padding-left:5px; 
  padding-right:2px; 
  padding-bottom:0px; 
  width:20%; 
  white-space:nowrap;
  vertical-align: middle;
}

.mf_condition_error {
  padding-left:5px; 
  padding-bottom:2px; 
  color:red;
  font-size: 10px;
  font-family: Arial;
}

.mf_operator {
  padding-right:2px; 
  padding-bottom:0px; 
  width:15%; 
  white-space:nowrap;
  vertical-align: middle;
}

.mf_container {
  padding-right:0px; 
  padding-bottom:0px; 
  width:65%;
  white-space:nowrap;
  vertical-align: middle;
}

.mf_container_values {
  width:100%;
  padding-right:0px;
  padding-bottom:0px; 
  vertical-align:top;
  white-space:nowrap;
}

.mf_container_values td {
  padding-right:2px;
  vertical-align:top;
  white-space:nowrap;
}

.mf_condition_actions {
  padding-right:5px; 
  padding-bottom:2px; 
  white-space:nowrap;
  text-align:right; 
  width:5%; 
  vertical-align: middle;
}

.mf_button {
  text-align:center;
  padding: 0px;
  margin: 0px;
}

.mf_dirty_msg {
  color:red; 
  font-size:10px;
}

#mf_calendar {
  background-color:white;
  position:absolute;
  width:230px;
  border: 1px solid gray;
  padding: 2px;
  font-size:10px;
}

#mf_calendar input {
  font-size:8px;
}

.calendar_cells {
  width:100%; 
}

.calendar_cells td {
  padding:2px; 
  text-align:center; 
  font-size:10px; 
  color:black; 
  background-color:white;
  cursor:pointer;
} 

.calendar_cells td.today {
  background-color:lightblue;
} 

.calendar_cells td.selected {
  background-color:#ccc;
} 

.calendar_cells td.date_cell:hover {
  background-color:#ccc;
} 

#mf_field_selector {
  background-color:#efefef;
  position:absolute;
  width:230px;
  border: 1px solid grey;
  padding: 2px;
  font-size:10px;
}


/*
  Pure CSS Buttons.
  Learn more ~ http://www.halmatferello.com/lab/pure-css-buttons/

  Licensed under GPL and MIT.
*/

.pcb, .pcb span {
  background: url('/images/mf_secondary.png') no-repeat;
  height: 23px;
  line-height: 23px;
  padding: 3px 0 7px 0;
}

.pcb, a.pcb:link, a.pcb:visited {
  color: #333;
  font-size: 11px;
  padding-left: 14px;
  text-decoration: none !important;
}
/* ie 6 hack */
* html div#frame .pcb {
  color: #333;
  padding-top: 0px;
  padding-bottom: 0px;
  text-decoration: none;
}
/* ie 7 hack */
*:first-child+html .pcb {
  color: #333;
  padding-top: 0px;
  padding-bottom: 0px;
  text-decoration: none;
}

.pcb span {
  background-position: right -326px;
  padding-right: 14px;
}

a.grey-button {
  background-position: left -219px;
  padding-top: 3px;
}
a.grey-button span {
  background-position: right -545px;
  padding-top: 3px;
}
a.grey-button:hover {
  background-position: left -246px;
}
a.grey-button:hover span {
  background-position: right -572px;
}
a.grey-button:active, .grey-active-button {
  background-position: left -273px;
}
a.grey-button:active span, .grey-active-button span {
  background-position: right -599px;
}
body .grey-disabled-button {
  background-position: left -300px;
  color: #bbb !important;
}
body .grey-disabled-button span {
  background-position: right -626px;
}
