@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin shadow($info) {
  box-shadow:$info;
  -moz-box-shadow:$info;
  -webkit-box-shadow:$info;
}

.wf_exporter_header {
  font-size:12px;
  font-weight:bold;
  margin:0 10px;

  .close {
    text-decoration:none;
    font-size:18px;
    color:#888;
    &:hover { color:#222;}
  }
}

.wf_exporter {
  background-color:#eee;
  position:absolute;
  width:230px;
  padding: 5px;
  font-size:10px;
  border:solid 1px #e8e8e8;
  border-color:#e8e8e8 #bababa #bababa #e8e8e8;
   @include rounded-corners(10px);
   @include shadow(2px 3px 3px 2px rgba(0,0,0,0.6));

  img {
    border: 0px;
  }

  input {
    border: 1px solid #ccc;
    font-size: 12px;
    font-family: Arial;
    @include rounded-corners(10px);
  }

  select  {
    border: 1px solid #ccc;
    font-size: 12px;
    font-family: Arial;
    background-color:#EDEDED;
    @include rounded-corners(10px);
  }

  table {
    width:100%;
    border-collapse: collapse;
    font-size:12px;
    padding:0px;
    margin:0px;
  }

  td {
    vertical-align:top;
    padding: 0px;
    margin: 0px;
  }
}

.wf_exporter_container {
  background-color:white;
  padding: 5px;
  margin: 5px;
  font-size:10px;
  border:solid 1px #bababa;
  border-color:#bababa #e8e8e8 #e8e8e8 #bababa;
   @include rounded-corners(10px);

   table thead tr {
     border-bottom:1px solid #bababa;
     font-weight:bold;
   }

   .center { padding-bottom: 5px;}
}

